---
import CardAd from "../CardAd.astro";
import CardAds from "../CardAds.astro";

interface Props<T> {
  id: number;
  name: string;
  subcategory?: string;
  href?: string;
  kontens?: Array<T>;
  type: string;
}

const { id, href, name, subcategory, kontens, type } = Astro.props;
---

<div
  class="grid grid-cols-3 items-center justify-items-center mx-auto p-5 mt-24"
>
  <div class="flex flex-col justify-self-start">
    <div class="text-[#c32f27] text-[32px] font-bold font-['Kumbh Sans']">
      {name}
      <span class="text-[#2b2d42] text-[32px] font-bold font-['Kumbh Sans']"
        >{subcategory}</span
      >
    </div>
    <div class="flex text-[#2b2d42] text-base font-normal font-['Kumbh Sans']">
      Temukan banyak layanan yang dari kami
    </div>
  </div>
  { type !== 'detail' && (
  <img
    src="https://i.ibb.co.com/S62s7bL/kudapacu-3.png"
    class="h-20"
    alt="KudaPacu Logo"
  />
  <div class="justify-self-end">
    <a
      href=`/category/${id}?kategori=${name.replace(/ /g, '-')}`
      class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-md text-sm px-5 py-2.5 text-center mb-2"
      >Lihat Selengkapnya</a
    >
  </div>
  )}

</div>

<div
  class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4 mt-20 justify-items-center place-content-center"
>
  {
    kontens.map((konten) => (
      <CardAd
        title={konten.attributes.judul}
        desc="saya adalah seorang kuda pacu yang sangat cepat"
        img={konten.attributes.foto_utama.data.attributes.formats.small.url}
        data_pengiklan={konten.attributes.pengiklan.data.attributes}
      />
    ))
  }

</div>
