---
import fetchApi from "../../lib/strapi";
import CardAd from "../CardAd.astro";
import CardAds from "../CardAdPremium.astro";

export const prerender = false;

async function getKontens(id, page = 1) {
  try {
    //let endpoint_card = `kontens?filters[iklan][id][$eq]=${id}&populate=pengiklan.foto,foto_utama`;
    let endpoint_card = `iklans/${id}?populate[kontens][populate][0]=pengiklan.foto,foto_utama`;
    return await fetchApi({
      endpoint: endpoint_card, // the content type to fetch
      wrappedByKey: "data",
    });
  } catch (error) {
    console.error("There was a problem with the fetch operation:", error);
    return null;
  }
}

let kontens = await getKontens(1);
kontens = kontens && kontens.attributes.kontens.data;
//console.log(kontens);
---

<div
  class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 justify-items-center place-content-center py-10"
>
  {
    kontens && (
      kontens.map((konten) => (
        <CardAds
          id={konten.id}
          title={konten.attributes.judul}
          desc=""
          img={
            konten.attributes.pengiklan?.data?.attributes?.foto?.data
              ? konten.attributes.pengiklan.data.attributes.foto.data.attributes
                  .url
              : konten.attributes.foto_utama.data.attributes.url
          }
          alt={konten.attributes.foto_utama.data.attributes.name}
          data_pengiklan={konten.attributes.pengiklan?.data?.attributes ?? null}
        />
      ))
    )
  }
</div>
