---
import Layout from "../layouts/MainLayout.astro";
import CardAds from "../components/CardAds.astro";
import PremiumAds from "../components/sections/SectionPremiumAds.astro";
import SectionHero from "../components/sections/SectionHero.astro";
import SectionCategory from "../components/sections/SectionCategory.astro";
import SectionCTA from "../components/sections/SectionCTA.astro";
import ScetionGalaery from "../components/sections/SectionGalery.astro";
import NodeCache from "node-cache";

// interface Props<T> {
//   category: string;
//   subcategory: string;
//   href: string;
//   categories: Array<T>;
// }

//const { categories } = Astro.props;

export const prerender = false;

export async function getDataCard() {
  try {
    // Data categori + card
    let endpoint_card = "kategoris?populate[kontens][populate]=pengiklan,foto";
    const url = new URL(`${import.meta.env.STRAPI_URL}/api/${endpoint_card}`);
    const response = await fetch(url.toString());
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    const categories = await response.json();
    console.log(categories.data);
    return categories.data;
    return {
      props: {
        categories: categories.data,
      },
    };
  } catch (error) {
    console.error("There was a problem with the fetch operation:", error);
  }
}

//await getDataCard();
const categories = await getDataCard();
//console.log(categories);

//const { categories, subcategory, href, category }: Props<T> = Astro.props;
---

<Layout title="Kuda Pacu">
  <PremiumAds />

  <SectionHero />

  {
    categories.map(
      (categori) =>
        categori &&
        categori.attributes.kontens.data.length > 0 && (
          <SectionCategory
            name={categori.attributes.nama}
            id={categori.id}
            kontens={categori.attributes.kontens.data}
          />
        )
    )
  }

  <!-- <SectionCategory
    category="Horse"
    subcategory="for sale"
    href={`/category?category=sub&subcategory=hallo`}
  />
  <SectionCTA />
  <SectionCategory category="Stalion" subcategory="for stud" href="yourHref" />
  <SectionCategory category="Horse" subcategory="Stable" href="yourHref" />
  <SectionCategory category="Horse" subcategory="Profesional" href="yourHref" />
  <SectionCategory
    category="Product"
    subcategory="and Service"
    href="yourHref"
  />
  <SectionCategory category="Artikel" subcategory="" href="yourHref" />
  <SectionCategory category="Racing" subcategory="Event" href="yourHref" /> -->
  <ScetionGalaery />
  <div class="px-5 mt-20">
    <div class="grid justify-items-center">
      <img
        src="https://i.ibb.co.com/S62s7bL/kudapacu-3.png"
        class="h-24"
        alt="KudaPacu Logo"
      />
    </div>
  </div>
  <PremiumAds />
</Layout>
