---
import MainLayout from "../layouts/MainLayout.astro";
import CardAds from "../components/CardAds.astro";
import SectionPremiumAds from "../components/sections/SectionPremiumAds.astro";
import SectionHero from "../components/sections/SectionHero.astro";
import SectionCategory from "../components/sections/SectionCategory.astro";
import SectionCTA from "../components/sections/SectionCTA.astro";
import ScetionGalaery from "../components/sections/SectionGalery.astro";
import NodeCache from "node-cache";
import fetchApi from "../lib/strapi";

// interface Props<T> {
//   category: string;
//   subcategory: string;
//   href: string;
//   categories: Array<T>;
// }

//const { categories } = Astro.props;

export const prerender = false;

export async function getDataCard() {
  try {
    // Data categori + card
    let endpoint_card =
      "kategoris?populate[kontens][populate]=pengiklan,foto,foto_utama";

    const categories = await fetchApi({
      endpoint: endpoint_card, // the content type to fetch
    });

    const limitedData = categories.data.map((kategori) => {
      // Membatasi jumlah kontens yang ditampilkan menjadi maksimal 8
      const limitedKontens = kategori.attributes.kontens.data.slice(0, 8);
      return {
        ...kategori,
        attributes: {
          ...kategori.attributes,
          kontens: {
            ...kategori.attributes.kontens,
            data: limitedKontens,
          },
        },
      };
    });

    return limitedData;
  } catch (error) {
    console.error("There was a problem with the fetch operation:", error);
  }
}

export async function getLandingPage() {
  try {
    // Data categori + card
    let endpoint_lp = "landing-page?populate=foto,logo_CTA";

    return await fetchApi({
      endpoint: endpoint_lp, // the content type to fetch
      //page: "LandingPage",
      wrappedByKey: "data",
    });
  } catch (error) {
    console.error("There was a problem with the fetch operation:", error);
  }
}

const categories = await getDataCard();
let landingPage = await getLandingPage();

//const { categories, subcategory, href, category }: Props<T> = Astro.props;
---

<MainLayout title="Kuda Pacu">
  <SectionHero konten={landingPage.attributes} />

  {
    categories.map(
      (categori, index) =>
        categori &&
        categori.attributes.kontens.data.length > 0 && (
          <div>
            {index === 1 && <SectionCTA konten={landingPage.attributes} />}

            <SectionCategory
              name={categori.attributes.nama}
              id={categori.id}
              kontens={categori.attributes.kontens.data}
              type="section"
            />
          </div>
        )
    )
  }

  <!-- <ScetionGalaery /> -->
  <div class="px-5 my-10">
    <div class="grid justify-items-center">
      <img
        src="https://i.ibb.co.com/S62s7bL/kudapacu-3.png"
        class="h-24"
        alt="KudaPacu Logo"
      />
    </div>
  </div>
</MainLayout>
