---
import Wa from "./icons/Wa.astro";
import Fb from "./icons/Fb.astro";
import Ig from "./icons/Ig.astro";
import Tiktok from "./icons/Tiktok.astro";
import Yt from "./icons/Yt.astro";
import Web from "./icons/Web.astro";

interface Pengiklan {
  whatsapp: string;
  instagram: string;
  youtube: string;
  tiktok: string;
  facebook: string;
  website: string;
}
interface Props {
  title: string;
  desc: string;
  img: string;
  data_pengiklan?: Pengiklan;
}

const { img, title, desc, data_pengiklan } = Astro.props;
console.log(data_pengiklan);
---

<section class="flex flex-col max-w-[200px] sm:max-w-[285px]">
  <article
    class="flex flex-col pb-3 sm:pb-5 w-full bg-white rounded-xl shadow-[0px_4px_4px_rgba(0,0,0,0.1)]"
  >
    <img
      loading="lazy"
      src={img}
      alt="..."
      class="object-cover w-full rounded-xl aspect-[1.71]"
    />
    <div class="flex flex-col px-3 sm:px-5 mt-4 w-full">
      <h2 class="self-start text-base font-semibold text-red-600">
        {title}
      </h2>
      <p class="sm:my-2.5 text-xs text-neutral-700 max-sm:text-justify">
        {desc}
      </p>
      <div
        class="flex flex-wrap sm:flex-nowrap gap-1.5 text-xs font-bold text-white sm:whitespace-nowrap"
      >
        <!-- WA -->
        {
          data_pengiklan.whatsapp && (
            <a
              href={data_pengiklan.whatsapp}
              class="px-2.5 py-1 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-red-400 rounded-lg hover:bg-red-800 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
            >
              <Wa />
              <span class="text-white text-[8px] font-bold font-['Kumbh Sans']">
                Hubungi
              </span>
            </a>
          )
        }

        <!-- IG -->
        {
          data_pengiklan.instagram && (
            <a
              href={data_pengiklan.instagram}
              class="px-1.5 py-1 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-gray-50 border rounded-lg hover:bg-red-300 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
            >
              <Ig />
            </a>
          )
        }

        <!-- Youtube -->
        {
          data_pengiklan.youtube && (
            <a
              href={data_pengiklan.youtube}
              class="px-1.5 py-1 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-gray-50 border rounded-lg hover:bg-red-300 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
            >
              <Yt />
            </a>
          )
        }

        <!-- TIKTOK -->
        {
          data_pengiklan.tiktok && (
            <a
              href={data_pengiklan.tiktok}
              class="px-1.5 py-1 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-gray-50 border rounded-lg hover:bg-red-300 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
            >
              <Tiktok />
            </a>
          )
        }

        <!-- Facebook -->
        {
          data_pengiklan.facebook && (
            <a
              href={data_pengiklan.facebook}
              class="px-1.5 py-1 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-gray-50 border rounded-lg hover:bg-red-300 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
            >
              <Fb />
            </a>
          )
        }
        <!-- Website -->
        {
          data_pengiklan.website && (
            <a
              href={data_pengiklan.website}
              class="px-1.5 py-1 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-gray-50 border rounded-lg hover:bg-red-300 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
            >
              <Web />
            </a>
          )
        }
      </div>
    </div>
  </article>
</section>
